@model CustomersAllModel

@{
    ViewData["Title"] = "All customers";
    var all = nameof(CustomersController.All);
    var create = nameof(CustomersController.Create);
    var edit = nameof(CustomersController.Edit);
    var delete = nameof(CustomersController.Delete);
    var totalSales = nameof(CustomersController.TotalSales);
}

<header class="d-flex flex-wrap justify-content-between align-items-center">
    <h1 class="justify-content-between">
        All customers
    </h1>
    <a asp-action=@create class="btn btn-@CssHelpers.GetColor(create)">Add customer</a>
</header>

<h3>
    In @Model.OrderDirection.ToString().ToLower()
    @if (Model.OrderDirection == OrderDirection.Descending)
    {
        <a asp-action=@all>order</a>
    }
    else
    {
        <a asp-action=@all asp-route-order="descending">order</a>
    }
</h3>

<table class="table table-hover">
    <thead>
        <tr class="text-capitalize">
            <th>Name</th>
            <th>Birth date</th>
            <th>Is young driver</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a asp-action=@totalSales asp-route-id=@customer.Id>@customer.Name</a>
                </td>
                <td>@customer.BirthDate.ToShortDateString()</td>
                <td>@(customer.IsYoungDriver ? "Yes" : "No")</td>
                <td class="d-flex justify-content-around" role="group">
                    <a asp-action=@edit asp-route-id=@customer.Id class="btn btn-@CssHelpers.GetColor(edit)">@edit</a>
                    <a asp-action=@delete asp-route-id=@customer.Id class="btn btn-@CssHelpers.GetColor(delete)">@delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>