@model CarFormModel

@{
    ViewData["Title"] = $"{Model.Action} car";
    var isDeleteDisabled = Model.Action == nameof(CarsController.Delete);
}

<h1>@Model.Action car</h1>

@if (isDeleteDisabled)
{
    <h3>Are you sure you want to delete this car?</h3>
}

<div class="row justify-content-start">
    <div class="col-md-6">
        <form asp-action=@Model.Action method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" required disabled="@isDeleteDisabled" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" required disabled="@isDeleteDisabled" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelledDistance" class="control-label"></label>
                <input asp-for="TravelledDistance" class="form-control" min="0" disabled="@isDeleteDisabled" />
                <span asp-validation-for="TravelledDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parts" class="control-label"></label>
                <select asp-for="Parts" asp-items="Model.PartsSelectList" class="form-control" size="10" required disabled="@isDeleteDisabled"></select>
                <small>Hold Ctrl to select multiple parts</small>
                <span asp-validation-for="Parts" class="text-danger"></span>
            </div>

            <partial name="../Shared/_FormSubmitPartial" model="Model.Action" />
        </form>
    </div>
</div>

<a asp-action="@(nameof(CarsController.AllByMake))">Back to Cars</a>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }